- @page_title = "Update Event"
= link_to("<< Back to Event List", {:action => 'index', :class => 'back-link'})
.news.new
  %h2 Update Article
  = form_for [:admin, @eventitem], :html => {:multipart => true} do |f|
    = render(:partial => "form", :locals => {:f => f})
    .form-buttons
      = submit_tag("update event")
