- @page_title = "Update Image content"
= link_to("<< Back to Image content List", {:action => 'index', :class => 'back-link'})
.news.new
  %h2 Update Image content
  = form_for [:admin, @icontent], :html => {:multipart => true} do |f|
    = render(:partial => "form", :locals => {:f => f})
    .form-buttons
      = submit_tag("update image content")
