/*---=====OVERRIDES=====---*/
$mainfont: Muli,'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$mainfontweight: 600;
$boldfontweight: 900;
$navbarCollapseWidth: 300px;
$grid-float-breakpoint: 600px;

@import "general.scss";














/*--------=========FOOTER========---------*/

.footer {
  position: absolute;
  border-top-color: #000;
  border-top-width: 1px;
  border-top-style: solid;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 32px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.footerlist{
	padding-top: 4px;
	padding-bottom: 0px;
	margin: 0;
width: 100%;
text-align: center;
list-style-type: none;
	li {
		
	font-size: 0.9em !important;
		margin: 0;
		padding: 0px 15px 0 15px ;
		
	 display: inline !important; 
	}
}

