/*---=====  OVERRIDES  =====---*/

@import "general.scss";
/*---======== MAIN =======---*/
body { padding-top: 170px; }
img { border: none; }

/*------===========  NAVIGATION =========------------*/
.nav{
}


.topnav{
	background-color: #0f0 !important;
	padding: 0;
	margin: 0;
}



/*--------=========  FOOTER  ========---------*/
.footerconteiner{
	max-width: 300px !important;

}
.footer {
	background-color: #ccc;
	font-size: 0.8em;
	text-align: center;
display: inline !important; 
  position: absolute;
  border-top-color: #000;
  border-top-width: 1px;
  border-top-style: solid;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  margin: 0;
  padding-top: 3px;
}
.subscribeform{ 
	display: inline-block;
	padding: 0;
	margin: 0;
}
.footerlist{
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 0px;
	margin: 0;
text-align: center;
list-style-type: none;
	li {
		
	font-size: 0.9em !important;
		margin: 0;
		padding: 0px 15px 0 15px ;
		
	 display: inline !important; 
	}
}

